@model MasterPice.Models.ViewModels.LessonViewModel
@* @section Styles { *@
@*     <style> *@
@*         .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { *@
@*             max-width: 100% !important; *@
@*             /* padding-right: var(--bs-gutter-x, .75rem); */ *@
@*             /* padding-left: var(--bs-gutter-x, .75rem); */ *@
@*             padding: 5px; *@
@*             margin-right: auto; *@
@*             margin-left: auto; *@
@*         } *@
@*     </style> *@
@* } *@
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rainbowit.net/html/histudy/lesson-intro.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Mar 2025 12:59:34 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Lesson - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/plugins/sal.css">
    <link rel="stylesheet" href="~/assets/css/plugins/feather.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="~/assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jodit.min.css">

    <link rel="stylesheet" href="~/assets/css/styles.css">
	@RenderSection("Styles", required: false)
</head>

<body class="rbt-header-sticky">

    <div class="rbt-lesson-area bg-color-white">
        <div class="rbt-lesson-content-wrapper">
            <div class="rbt-lesson-leftsidebar">
                <div class="rbt-course-feature-inner rbt-search-activation">
                    <div class="section-title">
                        <h4 class="rbt-title-style-3">Course Content</h4>
                    </div>

                    <hr class="mt--10">

                    <div class="rbt-accordion-style rbt-accordion-02 for-right-content accordion">


                        <div class="accordion" id="accordionExampleb2">
                            @foreach (var s in Model.sectionss)
                            {
                                var collapseId = $"collapse_{s.SectionId}";// what is that mean 
                                var headingId = $"heading_{s.SectionId}"; // what is that mean 
                                var sectionContents = Model.sectionContentss.Where(c => c.SectionId == s.SectionId).ToList();

                                <div class="accordion-item card">
                                    <h2 class="accordion-header card-header" id="@headingId">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false"
                                                data-bs-target="#@collapseId" aria-controls="@collapseId">
                                            @s.Title <span class="rbt-badge-5 ml--10">@sectionContents.Count / @sectionContents.Count</span>
                                        </button>
                                    </h2>

                                    <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@headingId" data-bs-parent="#accordionExampleb2">
                                        <div class="accordion-body card-body">
                                            <ul class="rbt-course-main-content liststyle">
                                                @foreach (var content in sectionContents)
                                                {
                                                    <li>
                                                        <a asp-action="Lesson_intro" asp-controller="Student" asp-route-id="@content.ContentId">
                                                            <div class="course-content-left">
                                                                <i class="feather-play-circle"></i>
                                                                <span class="text">@content.Title</span>
                                                            </div>
                                                            <div class="course-content-right">
                                                                <span class="rbt-check"><i class="feather-check"></i></span>
                                                            </div>
                                                        </a>

                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>

            <div class="rbt-lesson-rightsidebar overflow-hidden">
                <div class="inner">
                    <div class="rbt-lesson-rightsidebar overflow-hidden">
                        <div class="inner">
                            <div class="content">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/assets/js/vendor/sal.js"></script>
    <!-- Dark Mode Switcher -->
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="~/assets/js/vendor/swiper.js"></script>
    <script src="~/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/assets/js/vendor/odometer.js"></script>
    <script src="~/assets/js/vendor/backtotop.js"></script>
    <script src="~/assets/js/vendor/isotop.js"></script>
    <script src="~/assets/js/vendor/imageloaded.js"></script>

    <script src="~/assets/js/vendor/wow.js"></script>
    <script src="~/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/assets/js/vendor/easypie.js"></script>
    <script src="~/assets/js/vendor/text-type.js"></script>
    <script src="~/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/assets/js/vendor/paralax.min.js"></script>
    <script src="~/assets/js/vendor/countdown.js"></script>
    <script src="~/assets/js/vendor/plyr.js"></script>
    <script src="~/assets/js/vendor/jodit.min.js"></script>
    <script src="~/assets/js/vendor/Sortable.min.js"></script>



    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>


<!-- Mirrored from rainbowit.net/html/histudy/lesson-intro.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Mar 2025 12:59:34 GMT -->
</html>