@* @section Styles { *@
@*     <style> *@
@*         .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { *@
@*             max-width: 100% !important; *@
@*             /* padding-right: var(--bs-gutter-x, .75rem); */ *@
@*             /* padding-left: var(--bs-gutter-x, .75rem); */ *@
@*             padding: 5px; *@
@*             margin-right: auto; *@
@*             margin-left: auto; *@
@*         } *@
@*     </style> *@
@* } *@
<body>
    <div id="my_switcher" class="my_switcher">
        <ul>
            <li>
                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                    <img src="~/assets/images/about/sun-01.svg" alt="Sun images"><span title="Light Mode"> Light</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                    <img src="~/assets/images/about/vector.svg" alt="Vector Images"><span title="Dark Mode"> Dark</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Start Side Vav -->
    <div class="rbt-cart-side-menu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="content">
                    <div class="title">
                        <h4 class="title mb--0">Your shopping cart</h4>
                    </div>
                    <div class="rbt-btn-close" id="btn_sideNavClose">
                        <button class="minicart-close-button rbt-round-btn"><i class="feather-x"></i></button>
                    </div>
                </div>
            </div>
            <nav class="side-nav w-100">
                <ul class="rbt-minicart-wrapper">
                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/assets/images/product/1.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Miracle Morning</a></h6>

                            <span class="quantity">1 * <span class="price">$22</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/assets/images/product/7.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Happy Strong</a></h6>

                            <span class="quantity">1 * <span class="price">$30</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/assets/images/product/3.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Rich Dad Poor Dad</a></h6>

                            <span class="quantity">1 * <span class="price">$50</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>

                    <li class="minicart-item">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="~/assets/images/product/4.jpg" alt="Product Images">
                            </a>
                        </div>
                        <div class="product-content">
                            <h6 class="title"><a href="single-product.html">Momentum Theorem</a></h6>

                            <span class="quantity">1 * <span class="price">$50</span></span>
                        </div>
                        <div class="close-btn">
                            <button class="rbt-round-btn"><i class="feather-x"></i></button>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="rbt-minicart-footer">
                <hr class="mb--0">
                <div class="rbt-cart-subttotal">
                    <p class="subtotal"><strong>Subtotal:</strong></p>
                    <p class="price">$121</p>
                </div>
                <hr class="mb--0">
                <div class="rbt-minicart-bottom mt--20">
                    <div class="view-cart-btn">
                        <a class="rbt-btn btn-border icon-hover w-100 text-center" href="#">
                            <span class="btn-text">View Cart</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="checkout-btn mt--20">
                        <a class="rbt-btn btn-gradient icon-hover w-100 text-center" href="#">
                            <span class="btn-text">Checkout</span>
                            <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Side Vav -->
    <a class="close_side_menu" href="javascript:void(0);"></a>
    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>
    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Start Dashboard Top  -->
                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2">Welcome, Jone Due</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a asp-action="Admin_Dashboard" asp-controller="Admin" class="feather-home"></i><span>Dashboard</span></a></li>
                                                    <li><a asp-action="SeeAllCourses" asp-controller="Admin"><i class="feather-book-open"></i><span>See All Courses</span></a></li>
                                                    <li><a asp-action="Seeusers" asp-controller="Admin"><i class="feather-user"></i><span>See All Users</span></a></li>
                                                    <li><a asp-action="SeeAllInstructor" asp-controller="Admin" class="feather-bookmark"></i><span>See All Instractors</span></a></li>
                                                    @* <li><a href="student-reviews.html"><i class="feather-star"></i><span>Reviews</span></a></li> *@
                                                    <li><a asp-action="statusInstructors" asp-controller="Admin"><i class="feather-help-circle"></i><span>Become Teachers Requests</span></a></li>
                                                    <li><a asp-action="Accept_courses" asp-controller="Admin"><i class="feather-help-circle"></i><span>Course_Request</span></a></li>
                                                </ul>
                                            </nav>
                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">User</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    @* <li><a href="instructor-settings.html"><i class="feather-settings"></i><span>Settings</span></a></li> *@
                                                    <li><a asp-action="Logout" asp-controller="Admin"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60">
                                <div class="content">
                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Dashboard</h4>
                                    </div>
                                    <div class="row g-5">

                                        <!-- Start Single Card  -->
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-primary-opacity">
                                                <div class="inner">
                                                    <div class="rbt-round-icon bg-primary-opacity">
                                                        <i class="feather-book-open"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="counter without-icon color-primary">
                                                            <span class="odometer" data-count="@TempData["Countenrolledusers"]">@TempData["Countenrolledusers"]</span>
                                                        </h3>
                                                        <span class="rbt-title-style-2 d-block">Enrolled Courses</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Card  -->
                                        <!-- Start Single Card  -->
                                        @* <div class="col-lg-4 col-md-4 col-sm-6 col-12"> *@
                                        @*     <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-secondary-opacity"> *@
                                        @*         <div class="inner"> *@
                                        @*             <div class="rbt-round-icon bg-secondary-opacity"> *@
                                        @*                 <i class="feather-monitor"></i> *@
                                        @*             </div> *@
                                        @*             <div class="content"> *@
                                        @*                 <h3 class="counter without-icon color-secondary"> *@
                                        @*                     <span class="odometer" data-count="10">00</span> *@
                                        @*                 </h3> *@
                                        @*                 <span class="rbt-title-style-2 d-block">ACTIVE COURSES</span> *@
                                        @*             </div> *@
                                        @*         </div> *@
                                        @*     </div> *@

                                        @* </div> *@
                                        <!-- End Single Card  -->
                                        <!-- Start Single Card  -->
                                        @* <div class="col-lg-4 col-md-4 col-sm-6 col-12"> *@
                                        @*     <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-violet-opacity"> *@
                                        @*         <div class="inner"> *@
                                        @*             <div class="rbt-round-icon bg-violet-opacity"> *@
                                        @*                 <i class="feather-award"></i> *@
                                        @*             </div> *@
                                        @*             <div class="content"> *@
                                        @*                 <h3 class="counter without-icon color-violet"> *@
                                        @*                     <span class="odometer" data-count="7">00</span> *@
                                        @*                 </h3> *@
                                        @*                 <span class="rbt-title-style-2 d-block">Completed Courses</span> *@
                                        @*             </div> *@
                                        @*         </div> *@
                                        @*     </div> *@
                                        @* </div> *@
                                        <!-- End Single Card  -->
                                        <!-- Start Single Card  -->
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-pink-opacity">
                                                <div class="inner">
                                                    <div class="rbt-round-icon bg-pink-opacity">
                                                        <i class="feather-users"></i>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="counter without-icon color-pink">
                                                            <span class="odometer" data-count="@TempData["CountStudent"]">@TempData["CountStudent"]</span>
                                                        </h3>
                                                        <span class="rbt-title-style-2 d-block">Total Students</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @* <div class="col-lg-4 col-md-4 col-sm-6 col-12"> *@
                                        @*     <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-pink-opacity"> *@
                                        @*         <div class="inner"> *@
                                        @*             <div class="rbt-round-icon bg-pink-opacity"> *@
                                        @*                 <i class="feather-users"></i> *@
                                        @*             </div> *@
                                        @*             <div class="content"> *@
                                        @*                 <h3 class="counter without-icon color-pink"> *@
                                        @*                     <span class="odometer" data-count="160">00</span> *@
                                        @*                 </h3> *@
                                        @*                 <span class="rbt-title-style-2 d-block">Total Students</span> *@
                                        @*             </div> *@
                                        @*         </div> *@
                                        @*     </div> *@
                                        @* </div> *@
                                        <!-- End Single Card  -->
                                        <!-- Start Single Card  -->
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                                            <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-coral-opacity">
                                                <div class="inner">
                                                    <div class="rbt-round-icon bg-coral-opacity">
                                                        <!-- https://feathericons.dev/?search=book&iconset=feather -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                            <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20" />
                                                            <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z" />
                                                        </svg>
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="counter without-icon color-coral">
                                                            <span class="odometer" data-count="@TempData["Countcourses"]">@TempData["Countcourses"]</span>
                                                        </h3>
                                                        <span class="rbt-title-style-2 d-block">Total Courses</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Card  -->
                                        <!-- Start Single Card  -->
                                        @* <div class="col-lg-4 col-md-4 col-sm-6 col-12"> *@
                                        @*     <div class="rbt-counterup variation-01 rbt-hover-03 rbt-border-dashed bg-warning-opacity"> *@
                                        @*         <div class="inner"> *@
                                        @*             <div class="rbt-round-icon bg-warning-opacity"> *@
                                        @*                 <i class="feather-dollar-sign"></i> *@
                                        @*             </div> *@
                                        @*             <div class="content"> *@
                                        @*                 <h3 class="counter color-warning"> *@
                                        @*                     <span class="odometer" data-count="25000">00</span> *@
                                        @*                 </h3> *@
                                        @*                 <span class="rbt-title-style-2 d-block">Total Earnings</span> *@
                                        @*             </div> *@
                                        @*         </div> *@
                                        @*     </div> *@
                                        @* </div> *@
                                        <!-- End Single Card  -->

                                    </div>
                                </div>
                            </div>
                            @* <div class="rbt-dashboard-content bg-color-white rbt-shadow-box mb--60"> *@
                            @*     <div class="content"> *@
                            @*         <div class="row"> *@
                            @*             <div class="col-lg-12"> *@
                            @*                 <div class="section-title"> *@
                            @*                     <h4 class="rbt-title-style-3">My Courses</h4> *@
                            @*                 </div> *@
                            @*             </div> *@
                            @*         </div> *@
                            @*         <div class="row gy-5"> *@
                            @*             <div class="col-lg-12"> *@
                            @*                 <div class="rbt-dashboard-table table-responsive"> *@
                            @*                     <table class="rbt-table table table-borderless"> *@
                            @*                         <thead> *@
                            @*                             <tr> *@
                            @*                                 <th>Course Name</th> *@
                            @*                                 <th>Enrolled</th> *@
                            @*                                 <th>Rating</th> *@
                            @*                             </tr> *@
                            @*                         </thead> *@
                            @*                         <tbody> *@
                            @*                             <tr> *@
                            @*                                 <th><a href="#">Accounting</a></th> *@
                            @*                                 <td>50</td> *@
                            @*                                 <td> *@
                            @*                                     <div class="rating"> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                     </div> *@
                            @*                                 </td> *@
                            @*                             </tr> *@
                            @*                             <tr> *@
                            @*                                 <th><a href="#">Marketing</a></th> *@
                            @*                                 <td>40</td> *@
                            @*                                 <td> *@
                            @*                                     <div class="rating"> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                     </div> *@
                            @*                                 </td> *@
                            @*                             </tr> *@
                            @*                             <tr> *@
                            @*                                 <th><a href="#">Web Design</a></th> *@
                            @*                                 <td>75</td> *@
                            @*                                 <td> *@
                            @*                                     <div class="rating"> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                     </div> *@
                            @*                                 </td> *@
                            @*                             </tr> *@
                            @*                             <tr> *@
                            @*                                 <th><a href="#">Graphic</a></th> *@
                            @*                                 <td>20</td> *@
                            @*                                 <td> *@
                            @*                                     <div class="rating"> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="fas fa-star"></i> *@
                            @*                                         <i class="off fas fa-star"></i> *@
                            @*                                         <i class="off fas fa-star"></i> *@
                            @*                                         <i class="off fas fa-star"></i> *@
                            @*                                     </div> *@
                            @*                                 </td> *@
                            @*                             </tr> *@
                            @*                         </tbody> *@
                            @*                     </table> *@
                            @*                 </div> *@

                            @*                 <div class="load-more-btn text-center"> *@
                            @*                     <a class="rbt-btn-link" href="#">Browse All Course<i class="feather-arrow-right"></i></a> *@
                            @*                 </div> *@
                            @*             </div> *@
                            @*         </div> *@

                            @*     </div> *@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
</body>


<!-- Mirrored from rainbowit.net/html/histudy/instructor-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Mar 2025 12:58:27 GMT -->
</html>