@model List<Course>
@{
    ViewData["Title"] = "Student_enrolled_courses";
}
@* @section Styles { *@
@*     <style> *@
@*         .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { *@
@*             max-width: 100% !important; *@
@*             /* padding-right: var(--bs-gutter-x, .75rem); */ *@
@*             /* padding-left: var(--bs-gutter-x, .75rem); */ *@
@*             padding: 5px; *@
@*             margin-right: auto; *@
@*             margin-left: auto; *@
@*         } *@
@*     </style> *@
@* } *@
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from rainbowit.net/html/histudy/student-enrolled-courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Mar 2025 12:58:31 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student Enrolled Courses - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/plugins/sal.css">
    <link rel="stylesheet" href="~/assets/css/plugins/feather.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="~/assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="~/assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jodit.min.css">

    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>

<body>

    <div id="my_switcher" class="my_switcher">
        <ul>
            <li>
                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                    <img src="~/assets/images/about/sun-01.svg" alt="Sun images"><span title="Light Mode"> Light</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                    <img src="~/assets/images/about/vector.svg" alt="Vector Images"><span title="Dark Mode"> Dark</span>
                </a>
            </li>
        </ul>
    </div>
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <div class="rbt-page-banner-wrapper">
        <!-- Start Banner BG Image  -->
        <div class="rbt-banner-image"></div>
        <!-- End Banner BG Image  -->
    </div>

    <!-- Start Card Style -->
    <div class="rbt-dashboard-area rbt-section-overlayping-top rbt-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- End Dashboard Top  -->

                    <div class="row g-5">
                        <div class="col-lg-3">
                            <!-- Start Dashboard Sidebar  -->
                            <div class="rbt-default-sidebar sticky-top rbt-shadow-box rbt-gradient-border">
                                <div class="inner">
                                    <div class="content-item-content">

                                        <div class="rbt-default-sidebar-wrapper">
                                            <div class="section-title mb--20">
                                                <h6 class="rbt-title-style-2">Welcome, @Context.Session.GetString("AdminName")</h6>
                                            </div>
                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a asp-action="Admin_Dashboard" asp-controller="Admin" class="feather-home"></i><span>Dashboard</span></a></li>
                                                    <li><a asp-action="SeeAllCourses" asp-controller="Admin"><i class="feather-book-open"></i><span>See All Courses</span></a></li>
                                                    <li><a asp-action="Seeusers" asp-controller="Admin"><i class="feather-user"></i><span>See All Users</span></a></li>
                                                    <li><a asp-action="SeeAllInstructor" asp-controller="Admin" class="feather-bookmark"></i><span>See All Instractors</span></a></li>
                                                    @* <li><a href="student-reviews.html"><i class="feather-star"></i><span>Reviews</span></a></li> *@
                                                    <li><a asp-action="statusInstructors" asp-controller="Admin"><i class="feather-help-circle"></i><span>Become Teachers Requests</span></a></li>
                                                    <li><a asp-action="Accept_courses" asp-controller="Admin"><i class="feather-help-circle"></i><span>Course_Request</span></a></li>
                                                </ul>
                                            </nav>

                                            <div class="section-title mt--40 mb--20">
                                                <h6 class="rbt-title-style-2">User</h6>
                                            </div>

                                            <nav class="mainmenu-nav">
                                                <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                                    <li><a asp-action="Student_settings" asp-controller="Student"><i class="feather-settings"></i><span>Settings</span></a></li>
                                                    <li><a asp-action="Logout" asp-controller="Admin"><i class="feather-log-out"></i><span>Logout</span></a></li>
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- End Dashboard Sidebar  -->
                        </div>

                        <div class="col-lg-9">
                            <!-- Start Enrole Course  -->
                            <div class="rbt-dashboard-content bg-color-white rbt-shadow-box">
                                <div class="content">

                                    <div class="section-title">
                                        <h4 class="rbt-title-style-3">Enrolled Courses</h4>
                                    </div>

                                    <div class="advance-tab-button mb--30">
                                        <ul class="nav nav-tabs tab-button-style-2 justify-content-start" id="myTab-4" role="tablist">
                                            <li role="presentation">
                                                <a href="#" class="tab-button active" id="home-tab-4" data-bs-toggle="tab" data-bs-target="#home-4" role="tab" aria-controls="home-4" aria-selected="true">
                                                    <span class="title">Enrolled Courses</span>
                                                </a>
                                            </li>
                                            @* <li role="presentation"> *@
                                            @*     <a href="#" class="tab-button" id="profile-tab-4" data-bs-toggle="tab" data-bs-target="#profile-4" role="tab" aria-controls="profile-4" aria-selected="false"> *@
                                            @*         <span class="title">Active Courses</span> *@
                                            @*     </a> *@
                                            @* </li> *@
                                        </ul>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab-4">
                                            <div class="row g-5">
                                                <!-- Start Single Course  -->
                                                @foreach (var s in Model)
                                                {
                                                    <div class="col-lg-4 col-md-6 col-12">
                                                        <div class="rbt-card variation-01 rbt-hover">
                                                            <div class="rbt-card-img">
                                                                <a asp-action="Course_detailed" asp-route-id="@s.CourseId">
                                                                    <img src="@s.CourseCover" alt="Card image">
                                                                </a>
                                                            </div>
                                                            <div class="rbt-card-body">
                                                                <div class="rbt-card-top">
                                                                    <div class="rbt-review">
                                                                        <div class="rating">
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                        </div>
                                                                        <span class="rating-count"> (15 Reviews)</span>
                                                                    </div>
                                                                    <div class="rbt-bookmark-btn">
                                                                        <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                    </div>
                                                                </div>
                                                                <h4 class="rbt-card-title">
                                                                    <a asp-action="Course_detailed" asp-route-id="@s.CourseId">@s.Title</a>
                                                                </h4>
                                                                <ul class="rbt-meta">
                                                                    <li><i class="feather-book"></i>@s.LessonCount Lessons</li>
                                                                    <li><i class="feather-users"></i>@s.EnrolledStudentsCount Students</li>
                                                                        <div class="rbt-card-bottom">
                                                                            <form asp-action="DeleteCourses" method="post" onsubmit="return confirm('Are you sure you want to delete this course?');">
                                                                                <input type="hidden" name="id" value="@s.CourseId" />
                                                                                <button type="submit" class="rbt-btn btn-sm bg-danger-opacity w-100 text-center">
                                                                                    Delete Course
                                                                                </button>
                                                                            </form>
                                                                        </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <!-- End Single Course  -->
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">
                                            <div class="row g-5">

                                                <!-- Start Single Course  -->
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="rbt-card variation-01 rbt-hover">
                                                        <div class="rbt-card-img">
                                                            <a href="course-details.html">
                                                                <img src="~/assets/images/course/course-online-04.jpg" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="rbt-card-body">
                                                            <div class="rbt-card-top">
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (3 Reviews)</span>
                                                                </div>
                                                                <div class="rbt-bookmark-btn">
                                                                    <a class="rbt-round-btn" title="Bookmark" href="#">
                                                                        <i class="feather-bookmark"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <h4 class="rbt-card-title">
                                                                <a href="course-details.html">English Langiage Club</a>
                                                            </h4>
                                                            <ul class="rbt-meta">
                                                                <li><i class="feather-book"></i>20 Lessons</li>
                                                                <li><i class="feather-users"></i>30 Students</li>
                                                            </ul>

                                                            <div class="rbt-card-bottom">
                                                                <div class="rbt-price">
                                                                    <span class="current-price">$40</span>
                                                                    <span class="off-price">$86</span>
                                                                </div>
                                                                <a class="rbt-btn-link" href="course-details.html">
                                                                    Learn
                                                                    More<i class="feather-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single Course  -->
                                                <!-- Start Single Course  -->
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="rbt-card variation-01 rbt-hover">
                                                        <div class="rbt-card-img">
                                                            <a href="course-details.html">
                                                                <img src="~/assets/images/course/course-online-06.jpg" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="rbt-card-body">
                                                            <div class="rbt-card-top">
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (3 Reviews)</span>
                                                                </div>
                                                                <div class="rbt-bookmark-btn">
                                                                    <a class="rbt-round-btn" title="Bookmark" href="#">
                                                                        <i class="feather-bookmark"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <h4 class="rbt-card-title">
                                                                <a href="course-details.html">Graphic Courses Club</a>
                                                            </h4>
                                                            <ul class="rbt-meta">
                                                                <li><i class="feather-book"></i>50 Lessons</li>
                                                                <li><i class="feather-users"></i>10 Students</li>
                                                            </ul>

                                                            <div class="rbt-card-bottom">
                                                                <div class="rbt-price">
                                                                    <span class="current-price">$40</span>
                                                                    <span class="off-price">$86</span>
                                                                </div>
                                                                <a class="rbt-btn-link" href="course-details.html">
                                                                    Learn
                                                                    More<i class="feather-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single Course  -->
                                                <!-- Start Single Course  -->
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="rbt-card variation-01 rbt-hover">
                                                        <div class="rbt-card-img">
                                                            <a href="course-details.html">
                                                                <img src="~/assets/images/course/course-online-05.jpg" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="rbt-card-body">
                                                            <div class="rbt-card-top">
                                                                <div class="rbt-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (3 Reviews)</span>
                                                                </div>
                                                                <div class="rbt-bookmark-btn">
                                                                    <a class="rbt-round-btn" title="Bookmark" href="#">
                                                                        <i class="feather-bookmark"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <h4 class="rbt-card-title">
                                                                <a href="course-details.html">Wed Design Club</a>
                                                            </h4>
                                                            <ul class="rbt-meta">
                                                                <li><i class="feather-book"></i>20 Lessons</li>
                                                                <li><i class="feather-users"></i>30 Students</li>
                                                            </ul>

                                                            <div class="rbt-card-bottom">
                                                                <div class="rbt-price">
                                                                    <span class="current-price">$40</span>
                                                                    <span class="off-price">$86</span>
                                                                </div>
                                                                <a class="rbt-btn-link" href="course-details.html">
                                                                    Learn
                                                                    More<i class="feather-arrow-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single Course  -->

                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="contact-4" role="tabpanel" aria-labelledby="contact-tab-4">
                                            <div class="row g-5">
                                                @if (Context.Session.GetInt32("isCompleted") != null)
                                                {
                                                    @foreach (var s in Model)
                                                    {
                                                        <!-- Start Single Course  -->
                                                        <div class="col-lg-4 col-md-6 col-12">
                                                            <div class="rbt-card variation-01 rbt-hover">
                                                                <div class="rbt-card-img">
                                                                    <a asp-action="Course_detailed" asp-route-id="@s.CourseId">
                                                                        <img src="@s.CourseCover" alt="Card image">
                                                                    </a>
                                                                </div>
                                                                <div class="rbt-card-body">
                                                                    <div class="rbt-card-top">
                                                                        <div class="rbt-review">
                                                                            <div class="rating">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                            </div>
                                                                            <span class="rating-count"> (15 Reviews)</span>
                                                                        </div>
                                                                        <div class="rbt-bookmark-btn">
                                                                            <a class="rbt-round-btn" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                        </div>
                                                                    </div>
                                                                    <h4 class="rbt-card-title">
                                                                        <a asp-action="Course_detailed" asp-route-id="@s.CourseId">@s.Title</a>
                                                                    </h4>
                                                                    <ul class="rbt-meta">
                                                                        <li><i class="feather-book"></i>@s.LessonCount Lessons</li>
                                                                        <li><i class="feather-users"></i>@s.EnrolledStudentsCount Students</li>
                                                                    </ul>

                                                                    <div class="rbt-progress-style-1 mb--20 mt--10">
                                                                        <div class="single-progress">
                                                                            <h6 class="rbt-title-style-2 mb--10">Complete</h6>
                                                                            <div class="progress">
                                                                                <div class="progress-bar wow fadeInLeft bar-color-success" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                                </div>
                                                                                <span class="rbt-title-style-2 progress-number">100%</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End Single Course  -->
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- End Enrole Course  -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Card Style -->




    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    <!-- Start Footer aera -->
    <footer class="rbt-footer footer-style-1 bg-color-white overflow-hidden">
        <div class="footer-top">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <div class="logo logo-dark">
                                <a href="index.html">
                                    <img src="~/assets/images/logo/logo.png" alt="Edu-cause">
                                </a>
                            </div>
                            <div class="logo d-none logo-light">
                                <a href="index.html">
                                    <img src="~/assets/images/dark/logo/logo-light.png" alt="Edu-cause">
                                </a>
                            </div>

                            <p class="description mt--20">
                                We’re always in search for talented
                                and motivated people. Don’t be shy introduce yourself!
                            </p>

                            <ul class="social-icon social-default justify-content-start">
                                <li>
                                    <a href="https://www.facebook.com/">
                                        <i class="feather-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/">
                                        <i class="feather-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <i class="feather-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkdin.com/">
                                        <i class="feather-linkedin"></i>
                                    </a>
                                </li>
                            </ul>

                            <div class="contact-btn mt--30">
                                <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" href="#">
                                    <div class="icon-reverse-wrapper">
                                        <span class="btn-text">Contact With Us</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">Useful Links</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="12-marketplace.html">Marketplace</a>
                                </li>
                                <li>
                                    <a href="04-kindergarten.html">kindergarten</a>
                                </li>
                                <li>
                                    <a href="13-university-classic.html">University</a>
                                </li>
                                <li>
                                    <a href="09-gym-coaching.html">GYM Coaching</a>
                                </li>
                                <li>
                                    <a href="faqs.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="about-us-01.html">About Us</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">Our Company</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                                <li>
                                    <a href="become-a-teacher.html">Become Teacher</a>
                                </li>
                                <li>
                                    <a href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="instructor.html">Instructor</a>
                                </li>
                                <li>
                                    <a href="event-list.html">Events</a>
                                </li>
                                <li>
                                    <a href="course-filter-one-toggle.html">Course</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget">
                            <h5 class="ft-title">Get Contact</h5>
                            <ul class="ft-link">
                                <li><span>Phone:</span> <a href="#">(406) 555-0120</a></li>
                                <li><span>E-mail:</span> <a href="mailto:hr@example.com">admin@example.com</a></li>
                            </ul>

                            <form class="newsletter-form mt--20" action="#">
                                <h6 class="w-600">Newsletter</h6>
                                <p class="description">
                                    2000+ Our students are subscribe Around the World.<br> Don’t be shy
                                    introduce yourself!
                                </p>

                                <div class="form-group right-icon icon-email mb--20">
                                    <label for="email">Enter Your Email Here</label>
                                    <input id="email" type="email">
                                </div>

                                <div class="form-group mb--0">
                                    <button class="rbt-btn rbt-switch-btn btn-gradient radius-round btn-sm" type="submit">
                                        <span data-text="Submit Now">Submit Now</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rbt-separator-mid">
            <div class="container">
                <hr class="rbt-separator m-0">
            </div>
        </div>
        <!-- Start Copyright Area  -->
        <div class="copyright-area copyright-style-1 ptb--20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                        <p class="rbt-link-hover text-center text-lg-start">Copyright © 2025 <a href="https://rainbowthemes.net/">Rainbow-Themes.</a> All Rights Reserved</p>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12">
                        <ul class="copyright-link rbt-link-hover justify-content-center justify-content-lg-end mt_sm--10 mt_md--10">
                            <li><a href="#">Terms of service</a></li>
                            <li><a href="privacy-policy.html">Privacy policy</a></li>
                            <li><a href="subscription.html">Subscription</a></li>
                            <li><a href="login.html">Login & Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </footer>
    <!-- End Footer aera -->
    <div class="rbt-progress-parent">
        <svg class="rbt-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="~/assets/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="~/assets/js/vendor/sal.js"></script>
    <!-- Dark Mode Switcher -->
    <script src="~/assets/js/vendor/js.cookie.js"></script>
    <script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="~/assets/js/vendor/swiper.js"></script>
    <script src="~/assets/js/vendor/jquery-appear.js"></script>
    <script src="~/assets/js/vendor/odometer.js"></script>
    <script src="~/assets/js/vendor/backtotop.js"></script>
    <script src="~/assets/js/vendor/isotop.js"></script>
    <script src="~/assets/js/vendor/imageloaded.js"></script>

    <script src="~/assets/js/vendor/wow.js"></script>
    <script src="~/assets/js/vendor/waypoint.min.js"></script>
    <script src="~/assets/js/vendor/easypie.js"></script>
    <script src="~/assets/js/vendor/text-type.js"></script>
    <script src="~/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="~/assets/js/vendor/bootstrap-select.min.js"></script>
    <script src="~/assets/js/vendor/jquery-ui.js"></script>
    <script src="~/assets/js/vendor/magnify-popup.min.js"></script>
    <script src="~/assets/js/vendor/paralax-scroll.js"></script>
    <script src="~/assets/js/vendor/paralax.min.js"></script>
    <script src="~/assets/js/vendor/countdown.js"></script>
    <script src="~/assets/js/vendor/plyr.js"></script>
    <script src="~/assets/js/vendor/jodit.min.js"></script>
    <script src="~/assets/js/vendor/Sortable.min.js"></script>



    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
</body>


<!-- Mirrored from rainbowit.net/html/histudy/student-enrolled-courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 23 Mar 2025 12:58:32 GMT -->
</html>

